package br.com.wincomp.aula1;

public class Incrementos {

	public static void main(String[] args) {
		
		int a = 10;
		int b = 20;
		int r = 0;
		
		r = (a++ + ++b); // r = 31
		System.out.println(r);
		
		r = (a + b); // r = 32
		System.out.println(r);
		
		r = (++a + --b); // r = 32
		System.out.println(r);


	}

}
